{% set baseTemplate = app.user.getRole() == 0 or app.user.getRole() == 1 ? 'frontBase.html.twig' : 'backBase.html.twig' %}
{% extends baseTemplate %}
{% block title %}Resultat{% endblock %}

{% block body %}
    <h1>resulat</h1>

    <div class="container d-flex justify-content-center">
        <div class="col-lg-5 my-5">
            <div class="text-center card-box">
                <div class="member-card pt-2 pb-2">
                    <div class="">
                        <h5 style="color: black;">{{ note }}</h5>
                        <p class="text-muted">Note</p>
                    </div>

                </div>

                <div class="mt-4">
                    {# <a href="{{ path('app_evaluation_edit', {'id': evaluation.id,'coursId': evaluation.cours.id}) }}" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Edit</a> #}
                </div>

            </div>
        </div>
    </div>

    <style>
        .card-box {
            padding: 20px;
            border-radius: 3px;
            margin-bottom: 30px;
            background-color: #fff;
        }

        .thumb-lg {
            height: 88px;
            width: 88px;
        }

        .img-thumbnail {
            padding: .25rem;
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: .25rem;
            max-width: 100%;
            height: auto;
        }

        .btn-rounded {
            border-radius: 2em;
        }

        .text-muted {
            color: #98a6ad!important;
        }

    </style>
{% endblock %}
