{% extends 'frontBase.html.twig' %}

{% block title %}Edit Cours{% endblock %}

{% block body %}
    <h1 class="text-white mx-3">Edit Cours</h1>

    {{ include('cours/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
