{% set baseTemplate = app.user.getRole() == 0 or app.user.getRole() == 1 ? 'frontBase.html.twig' : 'backBase.html.twig' %}
{% extends baseTemplate %}
{% block title %}New Cours{% endblock %}

{% block body %}
    <h1 class="text-white mx-3">Create new Cours</h1>

     {{ include('cours/_form.html.twig') }} 

{% endblock %}
