{% extends 'base.html.twig' %}

{% block title %}Payment Success!{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>Thank you for your reservation attempt!</h1>
    <p>
        Thank you for your interest in making a purchase with us!
        We appreciate your choice to shop with us and are here to ensure a smooth and enjoyable experience.
        If you have any questions, please email
        <a href="mailto:tfach@gmail.com">tfach@gmail.com</a>.
    </p>

    <div>

    </div>
{% endblock %}