{% extends 'base.html.twig' %}

{% block title %}Certificat index{% endblock %}

{% block body %}
    <h1>Certificat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCertificat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for certificat in certificats %}
            <tr>
                <td>{{ certificat.idCertificat }}</td>
                <td>
                    <a href="{{ path('app_certificat_show', {'idCertificat': certificat.idCertificat}) }}">show</a>
                    <a href="{{ path('app_certificat_edit', {'idCertificat': certificat.idCertificat}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_certificat_new') }}">Create new</a>
{% endblock %}
